flows.json
[{"id":"526ecf4c.61873","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"5cb7f4aa.6060bc","type":"ui_form","z":"526ecf4c.61873","name":"","label":"","group":"c0b087c7.1297b8","order":1,"width":0,"height":0,"options":[{"label":"Age","value":"rd","type":"number","required":true,"rows":null},{"label":"Sex","value":"ms","type":"text","required":true,"rows":null},{"label":"BMI","value":"ad","type":"number","required":true,"rows":null},{"label":"Children","value":"st","type":"number","required":true,"rows":null},{"label":"Smoker","value":"sm","type":"text","required":true,"rows":null},{"label":"Region","value":"re","type":"text","required":true,"rows":null}],"formValue":{"rd":"","ms":"","ad":"","st":"","sm":"","re":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":190,"y":220,"wires":[["9cbeb212.0530a","203a2dc1.45dc82"]]},{"id":"9cbeb212.0530a","type":"debug","z":"526ecf4c.61873","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":370,"y":300,"wires":[]},{"id":"203a2dc1.45dc82","type":"function","z":"526ecf4c.61873","name":"pre-token","func":"global.set(\"rd\",msg.payload.rd)\nglobal.set(\"ad\",msg.payload.ad)\nglobal.set(\"ms\",msg.payload.ms)\nglobal.set(\"st\",msg.payload.st)\nglobal.set(\"sm\",msg.payload.sm)\nglobal.set(\"re\",msg.payload.re)\nvar apikey=\"pUx1xfwLQdQdYj-CiJUryE6pLKGPD-mgbQRvdOyst85L\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":160,"wires":[["a3171e3f.84a82"]]},{"id":"a3171e3f.84a82","type":"http request","z":"526ecf4c.61873","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":532.0000038146973,"y":204.00000286102295,"wires":[["184c5537.aa028b","9f07cc49.1aae"]]},{"id":"184c5537.aa028b","type":"debug","z":"526ecf4c.61873","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":720,"y":260,"wires":[]},{"id":"9f07cc49.1aae","type":"function","z":"526ecf4c.61873","name":"Pre Prediction","func":"var rd = global.get(\"rd\")\nvar ms = global.get(\"ms\")\nvar ad = global.get(\"ad\")\nvar st = global.get(\"st\")\nvar sm = global.get(\"sm\")\nvar re = global.get(\"re\")\nvar token=msg.payload.access_token\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"Accept\":\"application/json\"}\nmsg.payload={\"input_data\":[{\"fields\": [[\"Age\", \"Sex\", \"BMI\", \"Children\",\"Smoker\",\"Region\"]],\"values\": [[rd,ad,ms,st,sm,re]]}]}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":724.0000076293945,"y":156.0000021457672,"wires":[["7998a1fe.2d5d6"]]},{"id":"7998a1fe.2d5d6","type":"http request","z":"526ecf4c.61873","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://us-south.ml.cloud.ibm.com/ml/v4/deployments/9b87be56-81ab-412c-b7e1-6f05a631af16/predictions?version=2020-10-17","tls":"","persist":false,"proxy":"","authType":"","x":950,"y":180,"wires":[["e067920e.10b24","435e10c3.9cdae"]]},{"id":"e067920e.10b24","type":"debug","z":"526ecf4c.61873","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1102.9999914169312,"y":264.00000381469727,"wires":[]},{"id":"2891f763.b47ea8","type":"inject","z":"526ecf4c.61873","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":250,"y":60,"wires":[["203a2dc1.45dc82"]]},{"id":"6099b734.9b2588","type":"debug","z":"526ecf4c.61873","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":933.9999885559082,"y":47.0000057220459,"wires":[]},{"id":"435e10c3.9cdae","type":"function","z":"526ecf4c.61873","name":"Parsing","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":779.6000595092773,"y":88.00000190734863,"wires":[["6099b734.9b2588","82fc3742.f40648"]]},{"id":"82fc3742.f40648","type":"ui_text","z":"526ecf4c.61873","group":"c0b087c7.1297b8","order":2,"width":0,"height":0,"name":"","label":"Prediction","format":"{{msg.payload}}","layout":"row-spread","x":897.6000366210938,"y":321.20001220703125,"wires":[]},{"id":"c0b087c7.1297b8","type":"ui_group","z":"","name":"New","tab":"c8d9fb35.6ffa88","order":1,"disp":true,"width":"6","collapse":false},{"id":"c8d9fb35.6ffa88","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]